# backend secrets
backend/.env
.env

# logs
*.log

# Flutter
build/
frontend/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-*
.packages
.metadata
**/local.properties
frontend/ios/Pods/
frontend/ios/Runner.xcworkspace/
frontend/ios/Flutter/Flutter.framework
frontend/ios/Flutter/Flutter.podspec

# Android
frontend/android/local.properties
frontend/android/.gradle/
frontend/android/captures/
frontend/android/app/build/
frontend/android/build/
frontend/android/.cxx/
.cxx/
.gradle/
.externalNativeBuild/
frontend/android/app/src/debug/
frontend/android/app/src/profile/
apk_output/
*.apk
*.sha1

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
dist/
build/
eggs/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*,cover

# Virtual environments
.venv/

# Pyenv
.python-version

# IDEs and editors
.vscode/
*.iml
.idea/

# OS files
.DS_Store
Thumbs.db